```python
import random

jokes = [
    "چرا برنامه نویس همیشه سرد و بی‌حال است؟ چون همیشه در حال debug کردن است!",
    "چرا برنامه نویس به خانه نمی‌روند؟ چون همیشه در حال loop کردن هستند!",
    "چطور مطمئن شوید که یک برنامه نویس از تعطیلات لذت می‌برد؟ اگر تعطیلات را در گروه version control خود commit کند!",
    "چگونه مطمئن شوید که یک برنامه نویس عصبانی است؟ اگر با دستور git blame راحت تعقب شود!",
    "چگونه مطمئن شوید که یک برنامه نویس عصبانی است؟ اگر با دستور rm -rf / راحت تعقب شود!"
]

def tell_joke():
    joke = random.choice(jokes)
    print(joke)

tell_joke()
